*{
  margin:  0;
  padding: 0;
}
body {
  height: 100%;
  padding: 50px;
  background-color: #F7C6C7;
}

.getMeal_btn {
  display: block;
  height: 50px;
  width: 100px;
  margin: 0 auto 20px;
  background-color: #78A0D5;
  color: white;
  font-size: large;}

header {
  height: 450px;
  width: 100%;
  display: flex;
  padding: 10px;
}
.leftPart {
  padding-top: 25px;
}
.leftPart img{
  min-width: 200px;
  max-width: 400px;
}
.rightPart {
  width: 100%;
  min-width: 400px;
  padding-left: 50px;
  margin: 0 auto;
}
.rightPart h1 {
  text-align: center;
}

.strIngredient {
  display: flex;
  justify-content: space-evenly
}
.Measure {
  margin-left: 50px;
}
.intro { 
  font-size: 20px;
  width: 100%;
  min-width: 850px;
  margin-bottom: 30px;
}

.video {
  width: 100%;
  height: 480px;
  min-width: 850px;
}